body{margin: 0px;}

header,
main,
aside,
footer{
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    background: blue;
}

header{ background: aqua;}

main{ background: crimson; }

aside{ background: forestgreen; }

footer{ background: indigo; }

nav{
    display: none;
    background: blueviolet; 
}

header img{
    display: inline;
    justify-content: right;
    justify-items: right;
}
